<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-title class="ion-no-padding ion-text-end">Editar Perfil</ion-title> 
      <ion-button (click)="openEditProfileModal()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding dashboard-container">
  <div class="dashboard-content">
    <ion-card>
      <ion-card-content>
        <h2 class="ion-text-center ion-padding-bottom" *ngIf="entradaExistente">Resumen</h2>
        <h2 class="ion-text-center ion-padding-bottom" *ngIf="!entradaExistente">Ingresar Entrada Inicial</h2>

        <div *ngIf="entradaExistente; else formularioEntrada">
          <ion-list lines="none">
            <ion-item>
              <ion-label>Entrada Inicial:</ion-label>
              <ion-note slot="end">{{ entradaExistente.monto | currency }}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Total Gastos:</ion-label>
              <ion-note slot="end">{{ totalGastos | currency }}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Saldo Actual:</ion-label>
              <ion-note slot="end" [color]="saldo >= 0 ? 'success' : 'danger'">
                {{ saldo | currency }}
              </ion-note>
            </ion-item>
          </ion-list>
          </div>

        <ng-template #formularioEntrada>
          <ion-item>
            <ion-label position="floating">Monto Inicial</ion-label>
            <ion-input type="number" [(ngModel)]="entrada.monto" step="0.01" min="0"></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="agregarEntrada()" class="ion-margin-top">
            Guardar
          </ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <app-simple-menu></app-simple-menu>
</ion-footer>