<ion-content class="glass-background" fullscreen>
  <app-header></app-header>
  <div class="glass-container">
    <ion-card class="login-card">
      <ion-card-content>
        <form class="form">

          <ion-item>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input type="text" placeholder=" " name="nombreUsuario" [(ngModel)]="user.nombreUsuario" required></ion-input>
            <ion-note color="danger" *ngIf="!isFieldValid('nombreUsuario') && formSubmitted">
              Este campo es requerido
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input  type="email" 
    placeholder=" " 
    name="email" 
    [(ngModel)]="user.email" 
    
    (ngModelChange)="clearEmailError()" 
    required></ion-input>
    
            <!-- Validación de formato y requerimiento del email -->
            <ion-note color="danger" *ngIf="!isFieldValid('email') && formSubmitted">
              {{ !user.email ? 'Este campo es requerido' : 'Formato de correo inválido' }}
            </ion-note>

            <!-- Mensaje de error si el correo ya está registrado -->
            <ion-note color="danger" *ngIf="emailAlreadyExistsError && formSubmitted">
            {{ emailAlreadyExistsError }}
          </ion-note>
          </ion-item>

          

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder=" " name="password" [(ngModel)]="user.password" required></ion-input>
            <ion-note color="danger" *ngIf="!isFieldValid('password') && formSubmitted">
              Este campo es requerido
            </ion-note>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" placeholder=" " name="confirmPassword" [(ngModel)]="user.confirmPassword" required></ion-input>
            <ion-note color="danger" *ngIf="!isFieldValid('confirmPassword') && formSubmitted">
              {{ !user.confirmPassword ? 'Este campo es requerido' : 'Las contraseñas no coinciden' }}
            </ion-note>
          </ion-item>
  
          <app-button (click)="handleRegisterClick()">Registrar</app-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>