
<ion-content class="ion-padding">
  <div class="informe-container">
    <ion-card class="summary-card">
      <ion-card-header>
        <ion-card-title>Entrada</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          
          <ion-text color="primary">
            <h2 class="ion-text-end">${{ entradaInicial | number : '1.2-2' }}</h2>
          </ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="category-card">
      <ion-card-header>
        <ion-card-title>Gastos por Categoría</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="inset">
          <ion-item *ngFor="let categoria of categorias">
            <ion-label>
              <h3>{{ categoria }}</h3>
              <p>Total gastado: ${{ gastosPorCategoria[categoria].total | number : '1.2-2' }}</p>
            </ion-label>
            <ion-text slot="end" [color]="gastosPorCategoria[categoria].porcentaje > 50 ? 'danger' : 'success'">
              <strong>{{ gastosPorCategoria[categoria].porcentaje | number : '1.2-2' }}%</strong>
            </ion-text>
          </ion-item>
         
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<ion-footer>
  <app-simple-menu></app-simple-menu>
</ion-footer>